.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/notebook-paper-plane-map_23-2147793555.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;        /* fills entire screen */
  background-position: center;   /* centers image */
  background-repeat: no-repeat;
}

.signin-part h1 {
  margin-bottom: 20px;
  margin-left: 40px;
  color: #333;
}

.login-part {
  margin-top: 15px;
}

.login-button {
  padding: 12px 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #555;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.login-button:hover {
  background-color: #f7f7f7;
}

.google-icon {
  width: 22px;
  height: 22px;
}

.footer {
  position: absolute;
  bottom: 15px;
  width: 100%;

  text-align: center;
  font-size: 14px;
  color: #0700cd;
  font-weight: bold;
  opacity: 0.85;
  letter-spacing: 0.5px;
}
