/* Map.css */

.leaflet-container {
  margin-top: 30px;
  height: 500px;
  width: 300vh;
  margin-left: 25px;
  margin-right: 25px;
  align-content: center;
}

.map-wrapper {
  position: relative;
  
}
