.leaflet-container {
  margin-top: 10px;
  height: 500px;
  width: 100%;
}

.map-wrapper {
  position: relative;
}

.map-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  display: flex;
  gap: 10px;
}

.map-buttons button {
  background: #0077ff;
  padding: 8px 14px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
